In [17]:
import pandas as pd  # Import library pandas lalu inisialisasikan sebagai pd
import numpy as np  # Import library numpy kemudian inisialisasikan sebagai np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

HeartDisease = pd.read_csv('DataAwal.csv')  # Input data
HeartDisease  # Menampilkan data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Target
0,0.244898,1,1,0.70,0.479270,0,1,0.788732,0,0.295455,2,0
1,0.428571,0,2,0.80,0.298507,0,1,0.676056,0,0.409091,1,1
2,0.183673,1,1,0.65,0.469320,0,2,0.267606,0,0.295455,2,0
3,0.408163,0,0,0.69,0.354892,0,1,0.338028,1,0.465909,1,1
4,0.530612,1,2,0.75,0.323383,0,1,0.436620,0,0.295455,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,0.346939,1,3,0.55,0.437811,0,1,0.507042,0,0.431818,1,1
914,0.816327,1,0,0.72,0.320066,1,1,0.570423,0,0.681818,1,1
915,0.591837,1,0,0.65,0.217247,0,1,0.387324,1,0.431818,1,1
916,0.591837,0,1,0.65,0.391376,0,0,0.802817,0,0.295455,1,1
917,0.204082,1,2,0.69,0.290216,0,1,0.795775,0,0.295455,2,0

In [18]:
df_notInfected0 = HeartDisease[HeartDisease['Target'] == 0]
df_notInfected1 = HeartDisease[HeartDisease['Target'] == 1]
unique_df_notInfected0 = df_notInfected0['Age'].unique()
unique_df_notInfected1 = df_notInfected1['Age'].unique()
total0 = df_notInfected0.groupby("Age").count()
total1 = df_notInfected1.groupby("Age").count()
target0 = total0['Target'].values
target1 = total1['Target'].values
df0 = pd.DataFrame({'Age' : unique_df_notInfected0, 'JumlahTarget_0' : target0 })
df1 = pd.DataFrame({'Age' : unique_df_notInfected1, 'JumlahTarget_1' : target1 })

In [19]:
df0

         Age  JumlahTarget_0
0   0.244898               1
1   0.183673               3
2   0.530612               1
3   0.224490               1
4   0.346939               3
5   0.408163               1
6   0.285714               5
7   0.306122               7
8   0.326531               4
9   0.428571              10
10  0.163265               5
11  0.510204              13
12  0.489796               7
13  0.469388              18
14  0.571429              15
15  0.081633              13
16  0.265306              13
17  0.142857              15
18  0.632653              11
19  0.448980               8
20  0.367347              16
21  0.551020              10
22  0.591837              11
23  0.122449              20
24  0.387755              17
25  0.204082              18
26  0.612245              28
27  0.673469              17
28  0.020408              13
29  0.693878              12
30  0.061224              14
31  0.000000              12
32  0.040816               8
33  0.102041               5
34  0.653061              10
35  0.755102               7
36  0.897959               7
37  0.775510               6
38  0.714286               6
39  0.938776               3
40  0.734694               4
41  0.816327               3
42  0.959184               1
43  0.836735               3
44  0.795918               1
45  0.877551               2
46  0.857143               1
47  0.979592               1

In [20]:
ls = []
for w in df0.JumlahTarget_0:
    x = (w + 1)/408
    ls.append(x)
print(ls)

[0.004901960784313725, 0.00980392156862745, 0.004901960784313725, 0.004901960784313725, 0.00980392156862745, 0.004901960784313725, 0.014705882352941176, 0.0196078431372549, 0.012254901960784314, 0.02696078431372549, 0.014705882352941176, 0.03431372549019608, 0.0196078431372549, 0.04656862745098039, 0.0392156862745098, 0.03431372549019608, 0.03431372549019608, 0.0392156862745098, 0.029411764705882353, 0.022058823529411766, 0.041666666666666664, 0.02696078431372549, 0.029411764705882353, 0.051470588235294115, 0.04411764705882353, 0.04656862745098039, 0.07107843137254902, 0.04411764705882353, 0.03431372549019608, 0.031862745098039214, 0.03676470588235294, 0.031862745098039214, 0.022058823529411766, 0.014705882352941176, 0.02696078431372549, 0.0196078431372549, 0.0196078431372549, 0.01715686274509804, 0.01715686274509804, 0.00980392156862745, 0.012254901960784314, 0.00980392156862745, 0.004901960784313725, 0.00980392156862745, 0.004901960784313725, 0.007352941176470588, 0.004901960784313725, 0.004901960784313725]

In [21]:
df1

         Age  JumlahTarget_1
0   0.428571               1
1   0.408163               2
2   0.183673               1
3   0.612245               2
4   0.204082               4
5   0.653061               2
6   0.163265               1
7   0.326531              11
8   0.510204               2
9   0.530612               6
10  0.265306               6
11  0.755102               3
12  0.306122              11
13  0.448980               6
14  0.387755               3
15  0.061224              13
16  0.489796              11
17  0.367347              15
18  0.591837              11
19  0.551020              14
20  0.081633              15
21  0.714286              19
22  0.571429              15
23  0.775510              23
24  0.244898              24
25  0.102041              25
26  0.632653              26
27  0.122449              28
28  0.142857              23
29  0.224490              24
30  0.469388              26
31  0.346939              25
32  0.673469              23
33  0.693878              15
34  0.938776              15
35  0.816327               7
36  0.285714              12
37  0.734694               6
38  0.836735              10
39  0.795918               6
40  0.918367               2
41  0.857143               3
42  1.000000               1
43  0.897959               5
44  0.959184               2
45  0.979592               1
46  0.877551               2

In [22]:
df0['JumlahTarget_0'].sum()

410

In [23]:
df1['JumlahTarget_1'].sum()

508

In [24]:
# 410 + 508 = 918
# Total Target HeartDisease = 918